@import "../../utils/styles/mixin.scss";
@import "../../utils/styles/style.scss";

.listContainer {
    max-width: 1024px;
    width: -webkit-fill-available;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}