@import "../../utils/styles/mixin.scss";
@import "../../utils/styles/style.scss";


.logementSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 0px 20px;
    width: -webkit-fill-available;
    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include smallText;
        color: $primary;
        max-width: 1240px;
        width: 100%;
        gap: 50px;
        .rightPart {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            .info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .logementTitle {
                    @include mainText;
                }
            }
            .tagsContainer {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 15px;
                width: 100%;
            }
        }
        .leftPart {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: column;
            gap: 10px;
        }
    }
    .foldingParts {
        display: flex;
        width: 100%;
        max-width: 1240px;
        gap: 30px;
    }
}