@mixin mainText {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

@mixin smallText {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

@mixin bigText {
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
}

body {
    margin: 0px;
}

.root {
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 45px;
}


@media only screen and (max-width: 1250px) {
    .root {
        margin-top: 10px;
        gap: 30px;
    }
}
