@import "../../utils/styles/mixin.scss";
@import "../../utils/styles/style.scss";

.Card {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    height: 340px;
    width: 340px;
    object-fit: cover;
    position: relative;
    .Gradient {
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        position: absolute;
        border-radius: 10px;
    }
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .CardText {
        @include smallText;
        color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}


