@import "../../utils/styles/mixin.scss";
@import "../../utils/styles/style.scss";


.header-container {
    display: flex;
    width: auto;
    height: 68px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    fill: $primary;
    .nav-container {
        display: flex;
        align-items: flex-start;
        gap: 57px;
        a {
            @include text;
            color: $primary;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }            
        }
    }
}