@import "../../utils/styles/mixin.scss";
@import "../../utils/styles/style.scss";


.Content {
    @include mainText;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    gap: 140px;
    color: $primary;
    .ErrorCode {
        font-size: 288px;
        font-weight: 700;
    }
    a {
        color: $primary;
    }
}

@media only screen and (max-width: 800px) {
    .Content {
        margin: 50px 40px;
        .ErrorCode {
            font-size: 175px;
        }
        .Message {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 500px) {
    .Content {
        .ErrorCode {
            font-size: 100px;
        }
        .Message {
            text-align: center;
            @include smallText
        }
        a {
            text-align: center;
            @include smallText
        }
    }
}